body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.video{
  position: fixed; /* Hace que el video permanezca en una posición fija */
  top: 0; /* Posición superior */
  left: 0; /* Posición izquierda */
  width: 100vw; /* Abarca todo el ancho de la ventana */
  height: 100vh; /* Abarca todo el alto de la ventana */
  object-fit: cover; /* Asegura que el video cubra completamente el contenedor */
  z-index: -1; /* Envía el video detrás de otros elementos */
  filter: blur(5px)
}
